In [7]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer

In [8]:
dataframe = pd.read_csv('train.csv')[['Age','Fare','SibSp','Parch','Survived']]
dataframe.dropna(inplace=True)
dataframe.sample(5)

      Age     Fare  SibSp  Parch  Survived
317  54.0  14.0000      0      0         0
61   38.0  80.0000      0      0         1
30   40.0  27.7208      0      0         0
824   2.0  39.6875      4      1         0
635  28.0  13.0000      0      0         1

In [9]:
dataframe['family'] = dataframe['SibSp']+dataframe['Parch']
dataframe.drop(columns=['SibSp','Parch'],inplace=True)
dataframe.sample(5)

      Age     Fare  Survived  family
449  52.0  30.5000         1       0
500  17.0   8.6625         0       0
834  18.0   8.3000         0       0
806  39.0   0.0000         0       0
651  18.0  23.0000         1       1

In [10]:
X = dataframe.drop(columns=['Survived'])
Y = dataframe['Survived']

In [11]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [12]:
clf = DecisionTreeClassifier()
clf.fit(X_train,Y_train)
y_pred = clf.predict(X_test)
accuracy_score(Y_test,y_pred)

0.6153846153846154

In [13]:
np.mean(cross_val_score(DecisionTreeClassifier(),X,Y,cv=10,scoring='accuracy'))

0.645735524256651

In [14]:
from sklearn.preprocessing import Binarizer
trf = ColumnTransformer([
    ('bin',Binarizer(copy=False),['family'])
],remainder='passthrough')

In [15]:
X_train_trf = trf.fit_transform(X_train)
X_test_trf = trf.fit_transform(X_test)

In [16]:
pd.DataFrame(X_train_trf,columns=['family','Age','Fare'])

     family   Age      Fare
0       1.0  31.0   20.5250
1       1.0  26.0   14.4542
2       1.0  30.0   16.1000
3       0.0  33.0    7.7750
4       0.0  25.0   13.0000
..      ...   ...       ...
566     1.0  46.0   61.1750
567     0.0  25.0   13.0000
568     0.0  41.0  134.5000
569     1.0  33.0   20.5250
570     0.0  33.0    7.8958

[571 rows x 3 columns]

In [17]:
clf = DecisionTreeClassifier()
clf.fit(X_train_trf,Y_train)
y_pred = clf.predict(X_test_trf)
accuracy_score(Y_test,y_pred)

0.6363636363636364

In [18]:
X_trf = trf.fit_transform(X)
np.mean(cross_val_score(DecisionTreeClassifier(),X,Y,cv=10,scoring='accuracy'))

0.6471439749608763